APP_ENV=prod
APP_DEBUG=0
APP_SECRET=changeme_generate_a_strong_secret_here

DATABASE_URL="mysql://db_user:db_password@127.0.0.1:6033/symfoconnect?serverVersion=8.0"

MAILER_DSN=smtp://user:password@smtp.example.com:587

MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0

JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=changeme_jwt_passphrase
