{% extends 'base.html.twig' %}

{% block title %}Nouveau post{% endblock %}

{% block body %}
<div class="container">
    <h1>Créer un post</h1>

    <div class="post-form">
        {{ form_start(form) }}
            {{ form_row(form.content) }}
            <button type="submit" class="btn-submit">Publier</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
